# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# コメントは `#'

# 除外フォルダ
/resources
/others
/Debug
/.vs
/x64
*.pdb
*.exe

# 例外フォルダ
!/Shaders/
!/Shaders/*
!/Sources/
!/Sources/*
!/External/
!/External/*

!*.cpp
!*.h
!*.hlsli
!*.hlsl
!*.cso
!*.cod