# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# コメントは `#'

# 特定のフォルダ階層以下を無視する
# フォルダ名/
Resources/
External/
Others/
Cache/
.vs/

# 特定の拡張子を無視する
# *拡張子
*.exp
*.pdb